@tailwind base;
@tailwind components;
@tailwind utilities;

body{

    transition:  all ease-in 3s;

}
    

.cart::-webkit-scrollbar{

    display: none;

}

.cart::-moz-scrollbar{

    display: none;

}

.header{

    @apply flex items-center md:p-12 lg:flex-row-reverse flex-col

}

.headerProductName{

    @apply text-3xl font-black bg-clip-text text-transparent 
           bg-gradient-to-r from-pink-500 to-violet-500

}

.bannerBG{

    @apply absolute top-20 right-52 -z-10 flex items-end scale-150 overflow-hidden

}

.otherProductsTitle{

    @apply text-3xl font-black bg-base-100 dark:bg-gray-800 text-gray-600 dark:text-gray-200 
           w-screen grid place-items-center p-8 m-4

}

.cart{

    @apply fixed top-0 right-0 bottom-0 w-full md:w-[50%] lg:w-[40%] z-[9991] rounded-tl-2xl rounded-bl-2xl 
           shadow-lg p-4 bg-base-100 dark:bg-gray-800  text-gray-600 dark:text-gray-200 
           transition ease-in duration-[3000]
}

.cartItem{

    @apply min-w-[100px] h-[100px] bg-gray-300 dark:bg-neutral rounded-md grid place-items-center

}


